<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zengg.miaosha.dao.OrderDao">
    <resultMap id="BaseResultMap" type="com.zengg.miaosha.model.OrderInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
        <result column="delivery_addr_id" jdbcType="INTEGER" property="deliveryAddrId" />
        <result column="goods_name" jdbcType="INTEGER" property="goodsName" />
        <result column="goods_count" jdbcType="VARCHAR" property="goodsCount" />
        <result column="description" jdbcType="VARCHAR" property="goodsPrice" />
        <result column="description" jdbcType="VARCHAR" property="orderChannel" />
        <result column="description" jdbcType="VARCHAR" property="status" />
        <result column="description" jdbcType="VARCHAR" property="createDate" />
        <result column="description" jdbcType="VARCHAR" property="payDate" />
    </resultMap>

</mapper>